.btn{
    background-color: gray;
    &:hover{
        cursor: pointer;
        opacity: 0.9;
    }
}
.active{
    background-color: red;
}
.primary{
    color: #fff;
    background-color: #007bfe;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}